@model Prados.Web.Models.EstadosFinancierosViewModel

            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@

            <h2>SITUACION FINANCIERA</h2>
            <br />
            <br />


            <h4>Seleccione un año y un mes</h4>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <h1>EGRESOS</h1>

            @foreach (var item in Model.egresos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Egr_FechadePago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Egr_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Egr_Valor)
                    </td>
                </tr>}

            <h1>INGRESOS</h1>

            @foreach (var item in Model.ingresos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio.Ani_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mes.Mes_Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Val.Val_Valor)
                    </td>
                </tr>}


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




