@model IEnumerable<Prados.Web.Data.Entities.Contabilidadtbl>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<h2>Estados Financieros</h2>
<br />
<br />
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart() {
        // Define the chart to be drawn.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Element');
        data.addColumn('number', 'Percentage');
        data.addRows([
            ['Nitrogen', 0.78],
            ['Oxygen', 0.21],
            ['Other', 0.01]
        ]);

        // Instantiate and draw the chart.
        var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
        chart.draw(data, null);
    }
</script>

@{
    var TotalCuotas = 0;
}

@foreach (var item in Model)
{
    TotalCuotas += Convert.ToInt32(item.Valo.Val_Valor);
}

<div class="full-box text-center" style="padding: 30px 10px;">
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            INGRESOS
        </div>
        <div class="full-box tile-icon text-center">
            <i class="glyphicon glyphicon-usd"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box">@TotalCuotas</p>
            <small>Total Recaudado</small>
        </div>
    </article>
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            TIPO DE PAGO
        </div>
        <div class="full-box tile-icon text-center">
            <i class="glyphicon glyphicon-tags"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box">3</p>
            <small>Pedidos</small>
        </div>
    </article>
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            PUNTO DE PAGO
        </div>
        <div class="full-box tile-icon text-center">
            <i class="glyphicon glyphicon-home"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box">4</p>
            <small>Datos</small>
        </div>
    </article>
    <article class="full-box tile">
        <div class="full-box tile-title text-center text-titles text-uppercase">
            AÑO
        </div>
        <div class="full-box tile-icon text-center">
            <i class="glyphicon glyphicon-calendar"></i>
        </div>
        <div class="full-box tile-number text-titles">
            <p class="full-box">4</p>
            <small>Datos</small>
        </div>
    </article>
</div>
<br />
<br />
<body>
    <div id="myPieChart" style="width:500px ; height:500px;">
    </div>
</body>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Estados Financieros</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="tblingresos">
                    <thead>
                        <tr>
                            <th>
                                Año
                            </th>
                            <th>
                                Mes
                            </th>
                            <th>
                                Tipo de Pago
                            </th>
                            <th>
                                Valor Pagado
                            </th>
                            <th>
                                Punto de Pago
                            </th>
                            <th></th>
                        </tr>
                        @*@{
                                var TotalCuotas = 0;
                            }*@
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            TotalCuotas += Convert.ToInt32(item.Valo.Val_Valor);
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Anio.Ani_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mess.Mes_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tip.Tip_Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Valo.Val_Valor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Punt.Pun_Descripcion)
                                </td>
                                <td>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                                <td>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<strong>Total Ingresos :@TotalCuotas</strong>

<!--Delete Item-->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblingresos').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Contabilidad/Delete/' + item_to_delete;
            });
        });
    </script>
}

<style>
    .full-box {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }
    /*============ Estilos home*/
    .tile {
        max-width: 300px;
        height: 180px;
        background-color: #fff;
        color: rgba(43, 174, 168, 1);
        position: relative;
        display: inline-block;
        box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
        overflow: hidden;
        cursor: pointer;
        margin: 10px;
    }

        .tile:hover > .tile-icon > i,
        .tile:hover > .tile-number {
            color: rgba(43, 174, 168, 1);
        }

    .tile-title,
    .tile-icon,
    .tile-number {
        position: absolute;
    }

    .tile-title {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        background-color: rgb(43, 174, 168);
        color: #fff;
        top: 0;
        left: 0;
    }

    .tile-icon,
    .tile-number {
        bottom: 0;
        height: 140px;
        width: 150px;
    }

    .tile-icon {
        left: 0;
    }

        .tile-icon > i {
            line-height: 140px;
            font-size: 117px;
        }

        .tile-icon > i,
        .tile-number {
            color: rgba(43, 174, 168, .4);
            transition: all .3s ease-in-out;
        }

    .tile-number {
        right: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

        .tile-number > p {
            font-size: 70px;
        }

        .tile-number > small {
            font-size: 17px;
        }
</style>