@model IEnumerable<Prados.Web.Data.Entities.Noticiastbl>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Not_Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Not_Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Not_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Not_Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Not_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Not_Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Not_Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Not_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Not_Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Not_Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
